.text-red {
    color: red;
}

.bold {
    font-weight: bold;
}

.container {
    padding-top: 1em;
}

.monopoly-copyright-notice {
    font-size: small;
}

main {
    margin-top: 3em;
    margin-bottom: 3em;
}