.hidden {
    //display: none;
    opacity: 0.1;
}

.text-red {
    color: red;
}

.bold {
    font-weight: bold;
}

.container {
    padding-top: 1em;
}

.monopoly-copyright-notice {
    font-size: small;
}

.landingpage-main {
    margin-top: 3em;
    margin-bottom: 3em;
}

.game-version-img {
    margin: 0 0 0 0;
    width: 50%;
}

.game-version-button {
    min-height: 24.5em;
}